
<%= simple_form_for :search do |f| %>
	<%= f.input :q, label: false %>
<% end	 %>
<ul>
	<% @pubs.each do |pub| %>	
		<li data-lat='<%= pub.latitude %>' data-lng='<%= pub.longitude %>'>
			<p><%= pub.name %></p>
			<p><%= pub.address %></p>
		</li>	
	<% end %>

</ul>

<section id="map"></section>